{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="text-info text-center">Paying For {{ product.name }}</h1>
        <form class="product-form" method="post" action="">
            <p>{{ success }}</p>
            {% csrf_token %}
            <input value="{{ product.price }}"  required readonly class="form-control" name="p-price" type="text"><br>
            <input required class="form-control" name="c-phone" placeholder="Phone number" type="text">
            <input required class="btn btn-info" value="Pay" type="submit">
        </form>
    </div>
{% endblock %}